spring:
  config:
    activate:
      on-profile: test

  # --- Database Configuration for Tests ---
  sql:
    init:
      mode: never # Disable schema.sql execution for tests
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password: ''
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true

  # --- Kafka Configuration for Tests ---
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

  # --- Spring Cloud Stream Configuration for Tests ---
  cloud:
    config:
      enabled: false # Disable Spring Cloud Config client
    stream:
      function:
        definition: consumeIncomingInvoice;consumeSdiNotification
      bindings:
        consumeIncomingInvoice-in-0:
          destination: INCOMING_INVOICE
        consumeSdiNotification-in-0:
          destination: DSI_NOTIFICATION
        publishSavedInvoice-out-0:
          destination: SAVED_INCOMING_INVOICE
        publishOutgoingInvoice-out-0:
          destination: OUTGOING_INVOICE
      kafka:
        binder:
          brokers: ${spring.kafka.bootstrap-servers} # Use the same broker as KafkaTemplate

# --- Eureka Configuration for Tests ---
eureka:
  client:
    enabled: false # Disable Eureka client for tests
