server:
  port: 8072

api:
  security:
    sdi-token: "sdi-secret-token"
    aruba-token: "aruba-secret-token"

spring:
  application:
    name: "gatewayserver"
  session:
    store-type: redis
  cloud:
    gateway:
      default-filters:
        - name: CircuitBreaker
          args:
            name: defaultCircuitBreaker
            fallbackUri: forward:/contactSupport
        - name: RequestRateLimiter
          args:
            redis-rate-limiter:
              replenishRate: 10000
              burstCapacity: 20000
              requestedTokens: 1
            key-resolver: "#{@ipKeyResolver}"
      discovery:
        locator:
          enabled: false
          lowerCaseServiceId: true
      httpclient:
        connect-timeout: 1000
        response-timeout: 10s
  data:
    redis:
      connect-timeout: 2s
      host: localhost
      port: 6379
      timeout: 1s

management:
  endpoints:
    web:
      exposure:
        include: "*"
  info:
    env:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

info:
  app:
    name: "gatewayserver"
    description: "Invoice App Gateway Server Application"
    version: "1.0.0"

logging:
  level:
    com.experis.gatewayserver: INFO
    org.springframework.cloud.gateway: INFO
  pattern:
    level: "%5p [${spring.application.name},%X{trace_id},%X{span_id}]"

resilience4j.circuitbreaker:
  configs:
    default:
      slidingWindowSize: 10
      permittedNumberOfCallsInHalfOpenState: 2
      failureRateThreshold: 50
      waitDurationInOpenState: 10000

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
