server:
  port: 9000
spring:
  application:
    name: "dbmanager"
  profiles:
    active: "prod"
  config:
    import: "optional:configserver:http://localhost:8071/"
  cloud:
    stream:
      function:
        definition: consumeValidInvoice;publishSendResult
      bindings:
        # Consumer
        consumeValidInvoice-in-0:
          destination: INVOICE_VALID
          group: ${spring.application.name}
        # Publisher (multi-output)
        publishSendResult-out-0: # --> INVOICE_SENT
          destination: INVOICE_SENT
        publishSendResult-out-1: # --> INVOICE_CANNOT_BE_SENT
          destination: INVOICE_CANNOT_BE_SENT
      kafka:
        binder:
          brokers: kafka:9092

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    shutdown:
      access: unrestricted
    health:
      probes:
        enabled: true
  info:
    env:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}


eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/

info:
  app:
    name: "dbmanager"
    description: "Invoice App DbManager Application"
    version: "1.0.0"

logging:
  level:
    com:
      experis:
        dbmanager: DEBUG
  pattern:
    level: "%5p [${spring.application.name},%X{trace_id},%X{span_id}]"