server:
  port: 9010

spring:
  threads:
    virtual:
      enabled: true
  application:
    name: "sender"

  mail:
    host: localhost
    port: 1025 # Porta standard per mail server locali come MailHog o GreenMail
    properties:
      mail.smtp.auth: false
      mail.smtp.starttls.enable: false
      mail.debug: true

  kafka:
    bootstrap-servers:
      - localhost:9096
    consumer:
      group-id: "sender-dlt-consumer"
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
    producer:
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      key-serializer: org.apache.kafka.common.serialization.StringSerializer

  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
    function:
      definition: outgoingInvoice
    stream:
      bindings:
        outgoingInvoice-in-0:
          destination: send-invoice
          group: ${spring.application.name}
          content-type: application/json
        publishSentInvoice-out-0:
          destination: invoice-sent
          content-type: application/json
        business-dlt-out-0:
          destination: sender.DLT
          content-type: application/json
      kafka:
        binder:
          brokers:
            - localhost:9092
          producer-properties:
            retries: 3
            retry.backoff.ms: 1000
            delivery.timeout.ms: 120000
        bindings:
          outgoingInvoice-in-0:
            consumer:
              enableDlq: true
              dlqName: outgoing-invoice.DLT
              max-attempts: 3
              back-off-initial-interval: 1000
              use-native-decoding: true
              back-off-max-interval: 10000
              back-off-multiplier: 2.0

eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    mail:
      enabled: false
    web:
      exposure:
        include: "*"
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    shutdown:
      access: unrestricted
    health:
      probes:
        enabled: true
  info:
    env:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

info:
  app:
    name: "sender"
    description: "Invoice App Sender Application"
    version: "1.0.0"

logging:
  level:
    com.experis.sender: DEBUG
    org.springframework.cloud.stream: INFO
    org.springframework.kafka: INFO
  pattern:
    level: "%5p [${spring.application.name},%X{trace_id},%X{span_id}]"

resilience4j.circuitbreaker:
  configs:
    default:
      slidingWindowSize: 10
      permittedNumberOfCallsInHalfOpenState: 2
      failureRateThreshold: 50
      waitDurationInOpenState: 10000

resilience4j.retry:
  configs:
    default:
      maxAttempts: 3
      waitDuration: 500
      enableExponentialBackoff: true
      exponentialBackoffMultiplier: 2
      ignoreExceptions:
        - java.lang.NullPointerException
      retryExceptions:
        - java.util.concurrent.TimeoutException

resilience4j.ratelimiter:
  configs:
    default:
      timeoutDuration: 1000
      limitRefreshPeriod: 5000
      limitForPeriod: 1
