server:
  port: 8080

app:
  callback:
    timeout-ms: 30000 # Timeout per la produzione

spring:
  threads:
    virtual:
      enabled: true
  application:
    name: "receiver"
  profiles:
    active: "prod"
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
    stream:
      function:
        definition: consumeSavedInvoice
      bindings:
        publishInvoice-out-0:
          destination: INCOMING_INVOICE
        publishSdiNotification-out-0:
          destination: DSI_NOTIFICATION
        consumeSavedInvoice-in-0:
          destination: SAVED_INCOMING_INVOICE
          group: ${spring.application.name}
        business-dlt-out-0:
          destination: business.DLT
      kafka:
        binder:
          brokers: kafka:9092

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    shutdown:
      access: unrestricted
    health:
      probes:
        enabled: true
  info:
    env:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://eurekaserver:8761/eureka/

info:
  app:
    name: "receiver"
    description: "Invoice App Receiver Application"
    version: "1.0.0"

logging:
  level:
    com:
      experis:
        receiver: DEBUG
  pattern:
    level: "%5p [${spring.application.name},%X{trace_id},%X{span_id}]"

resilience4j.circuitbreaker:
  configs:
    default:
      slidingWindowSize: 10
      permittedNumberOfCallsInHalfOpenState: 2
      failureRateThreshold: 50
      waitDurationInOpenState: 10000

resilience4j.retry:
  configs:
    default:
      maxAttempts: 3
      waitDuration: 500
      enableExponentialBackoff: true
      exponentialBackoffMultiplier: 2
      ignoreExceptions:
        - java.lang.NullPointerException
      retryExceptions:
        - java.util.concurrent.TimeoutException

resilience4j.ratelimiter:
  configs:
    default:
      timeoutDuration: 1000
      limitRefreshPeriod: 5000
      limitForPeriod: 1
