server:
  port: 8080

app:
  callback:
    timeout-ms: 30000

spring:
  threads:
    virtual:
      enabled: true
  application:
    name: "receiver"

  kafka:
    bootstrap-servers:
      - localhost:9096
    consumer:
      group-id: "receiver-dlt-consumer"
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
    producer:
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      key-serializer: org.apache.kafka.common.serialization.StringSerializer

  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
    function:
      definition: savedInvoice;updatedInvoice
    stream:
      bindings:
        publishInvoice-out-0:
          destination: save-invoice
          content-type: application/json
        publishSdiNotification-out-0:
          destination: update-invoice
          content-type: application/json
        savedInvoice-in-0:
          destination: invoice-saved
          group: ${spring.application.name}
          content-type: application/json
        updatedInvoice-in-0:
          destination: invoice-updated
          group: ${spring.application.name}
          content-type: application/json
        business-dlt-out-0:
          destination: receiver.DLT
          content-type: application/json
      kafka:
        binder:
          brokers:
            - localhost:9096
          producer-properties:
            retries: 3
            retry.backoff.ms: 1000
            delivery.timeout.ms: 120000
        bindings:
          savedInvoice-in-0:
            consumer:
              enableDlq: true
              dlqName: saved-invoice.DLT
              max-attempts: 3
              back-off-initial-interval: 1000
              use-native-decoding: true
              back-off-max-interval: 10000
              back-off-multiplier: 2.0

eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    shutdown:
      access: unrestricted
    health:
      probes:
        enabled: true
  info:
    env:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

info:
  app:
    name: "receiver"
    description: "Invoice App Receiver Application"
    version: "1.0.0"

logging:
  level:
    com.experis.receiver: DEBUG
    org.springframework.cloud.stream: INFO
    org.springframework.kafka: INFO
  pattern:
    level: "%5p [${spring.application.name},%X{trace_id},%X{span_id}] [%t]"

resilience4j.circuitbreaker:
  configs:
    default:
      slidingWindowSize: 10
      permittedNumberOfCallsInHalfOpenState: 2
      failureRateThreshold: 50
      waitDurationInOpenState: 10000

resilience4j.retry:
  configs:
    default:
      maxAttempts: 3
      waitDuration: 500
      enableExponentialBackoff: true
      exponentialBackoffMultiplier: 2
      ignoreExceptions:
        - java.lang.NullPointerException
      retryExceptions:
        - java.util.concurrent.TimeoutException

resilience4j.ratelimiter:
  configs:
    default:
      timeoutDuration: 1000
      limitRefreshPeriod: 5000
      limitForPeriod: 1
